
.vscode/sftp.json
locality/Test/bigTest.ppm
locality/Test/TestImages/wind-cave.jpg
locality/Test/TestImages/segfault.jpg
locality/Test/TestImages/rock.jpg
locality/Test/TestImages/mobo.ppm
locality/Test/TestImages/mobo.jpg
locality/Test/TestImages/in-wind-cave.jpg
locality/Test/TestImages/halligan.jpg
locality/Test/TestImages/from-wind-cave.jpg
locality/Test/TestImages/flowers_new.ppm
locality/Test/TestImages/flowers.ppm
locality/Test/TestImages/flowers.jpg
locality/Test/TestImages/erosion.jpg
locality/Test/TestImages/desert.jpg
locality/Test/TestImages/bigTest.ppm
locality/Test/TestImages/animals.jpg
locality/Test/OutputTest/wind-cave.jpg
locality/Test/OutputTest/segfault.jpg
locality/Test/OutputTest/rock.jpg
locality/Test/OutputTest/moboTiming.txt
locality/Test/OutputTest/mobo.jpg
locality/Test/OutputTest/mobo-default-rotate90.ppm
locality/Test/OutputTest/mobo-default-rotate180.ppm
locality/Test/OutputTest/mobo-default-rotate0.ppm
locality/Test/OutputTest/in-wind-cave.jpg
locality/Test/OutputTest/halligan.jpg
locality/Test/OutputTest/from-wind-cave.jpg
locality/Test/OutputTest/flowersTiming.txt
locality/Test/OutputTest/flowers_newTiming.txt
locality/Test/OutputTest/flowers_new-default-transpose.ppm
locality/Test/OutputTest/flowers_new-default-rotate90.ppm
locality/Test/OutputTest/flowers_new-default-rotate270,.ppm
locality/Test/OutputTest/flowers_new-default-rotate180.ppm
locality/Test/OutputTest/flowers_new-default-rotate0.ppm
locality/Test/OutputTest/flowers_new-default-flipvertical.ppm
locality/Test/OutputTest/flowers_new-default-fliphorizontal.ppm
locality/Test/OutputTest/flowers.jpg
locality/Test/OutputTest/flowers-default-transpose.ppm
locality/Test/OutputTest/flowers-default-rotate90.ppm
locality/Test/OutputTest/flowers-default-rotate270,.ppm
locality/Test/OutputTest/flowers-default-rotate180.ppm
locality/Test/OutputTest/flowers-default-rotate0.ppm
locality/Test/OutputTest/flowers-default-flipvertical.ppm
locality/Test/OutputTest/flowers-default-fliphorizontal.ppm
locality/Test/OutputTest/erosion.jpg
locality/Test/OutputTest/desert.jpg
locality/Test/OutputTest/bigTestTiming.txt
locality/Test/OutputTest/bigTest-default-rotate90.ppm
locality/Test/OutputTest/bigTest-default-rotate180.ppm
locality/Test/OutputTest/bigTest-default-rotate0.ppm
locality/Test/OutputTest/bigTest-default-fliphorizontal.ppm
locality/Test/OutputTest/animals.jpg
locality/Test/testOutput.ppm
locality/Test/testOutput.ppm
locality/Test/testOutput.ppm
locality/Test/testOutput.ppm
